[user]
	name = Diego Mónaco
	email = dfmonaco@gmail.com
[color]
	status = auto
	branch = auto
	diff   = auto
	ui = true
[merge]
	tool = meld
[diff]
	tool = meld
[alias]
  mm = "!f() { git merge $1 --no-ff; git branch -d $1; }; f"
  s  = status
  a  = add .
  l  = log --graph --topo-order --pretty='%w(100,0,6)%C(yellow)%h%C(bold)%C(red)%d %C(cyan)%ar %C(green)%an%n%C(bold)%C(white)%s %N' --abbrev-commit
  c  = commit -v
  i  = add -i
  d  = diff
  ds = diff --staged
  co = checkout
  cob = checkout -b
[alias]
	tag-deploy = ! sh -c 'git tag "v${0}_`date +%Y-%m-%d-%H.%M.%S`"'
[core]
	excludesfile = /home/diego/.gitignore_global
	editor = nvim
[push]
	default = simple
[pull]
	rebase = true
[branch]
	sort = -committerdate
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[include]
  path = /home/diego/.config/delta/themes.gitconfig
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  features = "mellow-barbet"
  navigate = true    # use n and N to move between diff sections
  side-by-side = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
